body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body, td, a, p, .h {
    font-family: arial, sans-serif;
}

a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

header, footer {
    font-size: 14px;
}

header a {
    opacity: 0.75;
}

#leftnavlinks {
    position: absolute;
    top: 24px;
    margin: 0 0 0 10px;
}

#leftnavlinks a {
    padding-left: 15px;
}

#rightnavlinks {
    position: absolute;
    right: 0;
    top: 24px;
}

#rightnavlinks a {
    padding-right: 15px;
}

main {
    align-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

footer {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    height: 40px;
    line-height: 40px;
    min-width: 980px;
}

footer a {
    color: #5f6368;
}

#bottomleftlinks {
    position: absolute;
}

#bottomleftlinks a {
    padding-left: 27px;
}

#bottomrightlinks {
    position: absolute;
    right: 30px;
}

#bottomrightlinks a {
    padding-left: 20px;
}

#logo {
    height: 92px;
    margin-bottom: 20px;
}

#searchbox {
    display: block;
    width: 484px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    grid-area: "searchbox";
    height: 44px;
}

#buttoncontainer {
    padding-top: 18px;
}

input[type="submit"] {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222
}